<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex">
      <input #search class="form-control me-2" type="text" placeholder="Search" aria-label="Search"
        (keyup)="searchSrv.searchInputLetter(search)"
        (keyup.enter)="searchSrv.searchInputClickAction(search)">
      <button class="btn btn-outline-success" type="button" (Click)="searchSrv.searchInputClickAction(search)">Search</button>
    </form>
  </div>
</nav>

