<!-- <div class="card" style="width: 18rem;">
  <a (click)="onClickId($event)" title="{{ photo.description }}">
    <img src="{{ photo.urls.regular }}" class="card-img-top" alt="Image" >
  </a>
  <div class="card-body">
    <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</div>
  </div>
</div>
 -->


<mat-card >
  <mat-card-subtitle>
    <p> {{ photo.user }}</p>
  </mat-card-subtitle>
  <a [routerLink]="['/main/photos', photo.id]" title="{{photo.description}}" class="m-auto w-100 ">
    <img src="{{photo.urls.regular}}" alt="Card image cap" class="w-100 photo-element">
  </a>
  <mat-card-content>
    <div class="row">
      <div class="col-sm">
        {{ photo.location }}
      </div>
      <div class="col-sm ">
        <img src="./assets/images/thumb-up.png" alt="like">
        <p> {{ photo.likes }}</p>
      </div>
    </div>
  </mat-card-content>

</mat-card>

<!-- <mat-card class="container">

  <div class="card bg-dark text-white">
    <a [routerLink]="['/main/photos', photo.id]" title="{{photo.description}}" class="m-auto w-100 ">
      <img src="{{ photo.urls.regular }}" class="card-img" alt="{{ photo.description }}">
    </a>
    <div class="card-img-overlay row" id="info-card">

      <div class="col">
        <button class="mat-18">thumb_up_alt</button>
        <p> {{ photo.likes }} </p>
      </div>
      <div class="col">
        <a href="{{photo.links.download}}?force=true'" title="Download"></a>
        <mat-icon class="mat-18">file_download</mat-icon>
      </div>
    </div>
  </div>

</mat-card> -->
