
img{
  object-fit: contain;
  width: 100%;
  padding: 2px;
  max-width: 50%;
  max-height: 100%;
  cursor:zoom-in;
}

.user-avatar{
  float:left;
  width: 30px;
  height: auto;
  margin-left: 1%;
  padding: 2px;
}

.img-like{
  height: 30px;
  width: auto;
}

.btn{
  margin-left: 30%;
  margin-bottom: 2%;
}

mat-tab-group{
  /* margin: 3%; */
  margin-top: 3%;
  padding: 4%;
 /*  border: solid 1px black; */
  border-radius: 15px;
  background-color: white;
}

.container-fluid{
  padding: 5%;
  background-color: grey;
}

