<div class="contianer" *ngIf="photoModel">

  <div class="row">

    <!-- Imagen  -->
    <mat-card class="card">
      <mat-card-title>
        <div class="contianer">
          <!-- reservado para info de usuario -->
          <div class="row" [routerLink]="['/user', photoModel.user.username]">
          </div>
        </div>
      </mat-card-title>
      <!--  imagen -->
      <div class="image">
        <img src="{{ photoModel.urls.regular }}" alt="Photo Detail" title="{{photoModel.description}}">
      </div>
      <mat-card-footer>
        <div class="row">
          <div class="col-sm">
            <p> {{ photoModel.likes }}</p>
          </div>
          <div class="col-sm">
            <!-- descargar -->
            <ul>
              <li>
                <p> {{ photoModel.links.download }}</p>
              </li>
              <li>
                <p>expandir</p>
              </li>
            </ul>

          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>

  <!-- Info -->
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">

      <mat-card>
        <!--Card header-->
        <div class="container-fluid cursor-pointer border-bottom">
          <div class="row m-2" title="Photo info">
            <a mdbBtn floating="true">
              <mat-icon icon="info" size="2x"></mat-icon>
            </a>
            <div class="overflow-hidden text-nowrap pl-2 pt-1">Photo Info</div>
          </div>
        </div>
        <mat-card-content>
          <table class="table">
            <tbody>
              <tr>
                <th scope="col">Created:</th>
                <td>{{photoModel.created_at}}</td>
              </tr>
              <tr>
                <th scope="col">Updated:</th>
                <td>{{photoModel.updated_at}}</td>
              </tr>
              <tr>
                <th scope="col">Description:</th>
                <td>{{photoModel.description}}</td>
              </tr>
              <tr>
                <th scope="col">Height:</th>
                <td>{{photoModel.height}} px</td>
              </tr>
              <tr>
                <th scope="col">Width:</th>
                <td>{{photoModel.width}} px</td>
              </tr>
              <tr>
                <th scope="col">Likes:</th>
                <td>{{photoModel.likes}}</td>
              </tr>
              <tr>
                <th scope="col">Downloads:</th>
                <td>{{photoModel.downloads}}</td>
              </tr>
              <tr>
                <th scope="col">Tags</th>
                <td>
                  <span *ngFor="let tag of photoModel.tags">
                    <a [routerLink]="['/photos']" [queryParams]="{query: tag.title}">{{tag.title}}</a>,
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xl-4 px-0 px-md-2"
    *ngIf="photoModel.exif && ( photoModel.exif.iso || photoModel.exif.make || photoModel.exif.model || photoModel.exif.aperture || photoModel.exif.focal_length || photoModel.exif.exposure_time )">
    <mat-card>
      <!--Card header-->
      <div class="container-fluid cursor-pointer border-bottom">
        <div class="row m-2" title="Camera info">
          <a mdbBtn floating="true">
            <mat-icon icon="camera" size="2x"></mat-icon>
          </a>
          <div class="overflow-hidden text-nowrap pl-2 pt-1">Camera Info</div>
        </div>
      </div>
      <mat-card-content>

        <table class="table">
          <tbody>
            <tr>
              <th scope="col">Camera:</th>
              <td>{{photoModel.exif.make}}</td>
            </tr>
            <tr>
              <th scope="col">Model:</th>
              <td>{{photoModel.exif.model}}</td>
            </tr>
            <tr>
              <th scope="col">Aperture:</th>
              <td>{{photoModel.exif.aperture}}</td>
            </tr>
            <tr>
              <th scope="col">Exposure Time:</th>
              <td>{{photoModel.exif.exposure_time}}</td>
            </tr>
            <tr>
              <th scope="col">Focal Length:</th>
              <td>{{photoModel.exif.focal_length}}</td>
            </tr>
            <tr>
              <th scope="col">ISO:</th>
              <td>{{photoModel.exif.iso}}</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>

    <div class="col-12 col-md-6 col-xl-4 px-0 px-md-2"
      *ngIf="photoModel.location && ( photoModel.location.country || photoModel.location.city || photoModel.location.position.latitude || photoModel.location.position.longitude )">
      <mat-card>
        <!--Card header-->
        <div class="container-fluid cursor-pointer border-bottom">
          <div class="row m-2" title="Location info">
            <a mdbBtn floating="true">
              <mat-icon fas icon="map-marked-alt" size="2x"></mat-icon>
            </a>
            <div class="overflow-hidden text-nowrap pl-2 pt-1">Location Info</div>
          </div>
        </div>
        <mat-card-content>
          <table class="table">
            <tbody>
              <tr>
                <th scope="col">Country:</th>
                <td>{{photoModel.location.country}}</td>
              </tr>
              <tr>
                <th scope="col">City:</th>
                <td>{{photoModel.location.city}}</td>
              </tr>
              <tr>
                <th scope="col">Latitude:</th>
                <td>{{photoModel.location.position.latitude}}</td>
              </tr>
              <tr>
                <th scope="col">Longitude:</th>
                <td>{{photoModel.location.position.longitude}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
