
img{
  height: 600px;
  width: auto;
  padding: 2px;

}

.user-avatar{
  float:left;
  width: 30px;
  height: auto;
  margin-left: 1%;
  padding: 2px;
}

.img-like{
  height: 30px;
  width: auto;
}

.btn{
  margin-left: 30%;
  margin-bottom: 2%;
}

/* .cont-img-like{
  margin-right: 3px;
} */
